n8n workflows/asif_n8n.json
{
  "name": "SmartSignal AI – Traffic & Emergency System",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "traffic-signal",
        "responseMode": "responseNode"
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.body.emergency }}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-emergency",
      "name": "Is Emergency?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "green_time",
              "value": 120
            }
          ],
          "string": [
            {
              "name": "status",
              "value": "EMERGENCY"
            }
          ]
        }
      },
      "id": "emergency-set",
      "name": "Emergency Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [600, 150]
    },
    {
      "parameters": {
        "jsCode": "let green_time = 0;\nconst traffic = $json.body.traffic_level;\nconst nearby = $json.body.nearby;\n\nif (traffic === 'HIGH') green_time = 70;\nelse if (traffic === 'MEDIUM') green_time = 40;\nelse green_time = 20;\n\nif (nearby === 'HIGH') green_time -= 15;\nelse if (nearby === 'LOW') green_time += 5;\n\nreturn [{ json: { green_time, status: 'NORMAL' } }];"
      },
      "id": "traffic-logic",
      "name": "Traffic Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [600, 450]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "signal_id",
              "value": "={{ $node[\"Webhook\"].json.body.signal_id }}"
            },
            {
              "name": "traffic_level",
              "value": "={{ $node[\"Webhook\"].json.body.traffic_level }}"
            },
            {
              "name": "status",
              "value": "={{ $json.status }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $now }}"
            }
          ],
          "number": [
            {
              "name": "green_time",
              "value": "={{ $json.green_time }}"
            }
          ]
        }
      },
      "id": "final-data",
      "name": "Final Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "YOUR_GOOGLE_SHEET_ID",
        "range": "Sheet1!A:E",
        "options": {}
      },
      "id": "google-sheets",
      "name": "Store to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [1100, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "your-credential-id",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "responseBody": "={\n  \"signal\": $json.signal_id,\n  \"traffic\": $json.traffic_level,\n  \"green_time\": $json.green_time,\n  \"status\": $json.status\n}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1350, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Is Emergency?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Emergency?": {
      "main": [
        [
          {
            "node": "Emergency Set",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Traffic Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Emergency Set": {
      "main": [
        [
          {
            "node": "Final Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Traffic Logic": {
      "main": [
        [
          {
            "node": "Final Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Data": {
      "main": [
        [
          {
            "node": "Store to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store to Google Sheets": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "smart-signal-final",
  "id": "smart-signal-ai-final"
}